
# 프로젝트 초기 설정 시, 이 파일을 복사하여 .env 파일을 생성해 주세요.
# 각 환경 변수 값을 본인의 설정에 맞게 수정하여 사용하시기 바랍니다.

# 데이터베이스 URL
# PostgreSQL 형식: postgresql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL="postgresql://<아이디>:<패스워드>@localhost:5432/<데이터 베이스>?schema=public"

# 서버 포트
PORT=3000

# 실행 환경 (development, production, test)
NODE_ENV=development

# 베이스 URL (이미지 URL 생성용)
BASE_URL=http://localhost:3000

# SecretKey
JWT_SECRET=MySuperSecretKey

# GOOGLE_CLIENT
GOOGLE_CLIENT_ID="<본인 구글 클라이언트 ID>"
GOOGLE_CLIENT_SECRET="<함께 발급 받은 비밀번호>"
GOOGLE_REDIRECT_URI="http://localhost:3000/auth/google/callback"

# 이메일 발송을 위한 메일 정보
SMTP_USER=자신의_메일@gmail.com
SMTP_PASSWORD=지메일_앱_비밀번호_16자리
SMTP_FROM=자신의_메일@gmail.com
